<html>
<head>
<style>
h2 {text-align: center;}
</style>
</head>
<body>
<h2 id="patrocinadores">PATROCINADORES</h2>
<table align="center">
  <tr><td align="center">
<table>
  <tr>
    <td><a href="http://espanix.es"><center><img src="/gore32/img/ESpanix_2x1.svg" alt="Espanix" height="300" height=auto ></center></a></td>
    <td><a href="https://www.catnix.net"><center><img src="/gore32/img/catnix_600.png" alt="Catnix" class="center"></center></a></td>
  </tr>
</table>
<table>
  <tr>
		<td><a href="https://www.de-cix.net"><center><img src="/gore32/img/DE-CIX_2x1.svg" width="280" alt="DECIX"></a></td>
</tr>
</table>
</td></tr>
<tr><td align="center">
  <table>
    <tr>
      <td><a href="https://ayscom.com/es/"><center><img src="/gore32/img/Ayscom_2x1.svg" width="200" alt="Ayscom"></a></td>
      <td><a href="http://ipbroker.com"><center><img src="/gore32/img/IP-Broker_2x1.svg" width="200" alt="IPBroker"></a></td>
      <td><a href="https://es.nttdata.com"><center><img src="/gore32/img/NTT_2x1.svg" width="200" alt="NTT"></a></td>
      <td><a href="https://retn.net"><center><img src="/gore32/img/RETN_2x1.svg" width="200" alt="RETN"></a></td>
    </tr>
</table>
</td></tr>
<tr><td align="center">
  <table>
    <tr>
      <td><a href="https://www.isocfoundation.org"><center><img src="/gore32/img/ISOC_2x1.svg" width="250" alt="ISOC"></a></td>
      <td><a href="https://ripe.net"><center><img src="/gore32/img/RIPE_2x1.svg" width="250" alt="RIPE"></a></td>
    </tr>
</table>
</td></tr>
</table>
<style>
 td, th, tr, table {
    border: 0 !important;
    border-spacing:0 !important;
  }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}</style>
